/* Hanken Grotesk — free (SIL OFL) default, redistributable. Neue Haas Grotesk below is
   an optional local override users can supply themselves (see fonts/README.md). */
@font-face {
  font-family: "Hanken Grotesk";
  src: url('/fonts/HankenGrotesk-latin.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2122, U+2191, U+2193, U+2212, U+2215;
}

@font-face {
  font-family: "Hanken Grotesk";
  src: url('/fonts/HankenGrotesk-latin-ext.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0100-024F, U+0300-0323, U+1E00-1EFF, U+2020, U+20A0-20AB;
}

/* Neue Haas Grotesk Font Family */

@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url('/fonts/NeueHaasGroteskDisplay-Pro.woff2') format('woff2'),
       url('/fonts/NeueHaasGroteskDisplay-Pro.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url('/fonts/NeueHaasGroteskDisplay-ProBold.woff2') format('woff2'),
       url('/fonts/NeueHaasGroteskDisplay-ProBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Haas Grotesk Text Pro";
  src: url('/fonts/NeueHaasGroteskText-Pro.woff2') format('woff2'),
       url('/fonts/NeueHaasGroteskText-Pro.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Haas Grotesk Text Pro";
  src: url('/fonts/NeueHaasGroteskText-ProBold.woff2') format('woff2'),
       url('/fonts/NeueHaasGroteskText-ProBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Haas Grotesk Text Pro";
  src: url('/fonts/NeueHaasGroteskText-ProMedium.woff2') format('woff2'),
       url('/fonts/NeueHaasGroteskText-ProMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Haas Grotesk Text Pro";
  src: url('/fonts/NeueHaasGroteskText-ProSemiBold.woff2') format('woff2'),
       url('/fonts/NeueHaasGroteskText-ProSemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
